<aside id="emailme">
  <h5>Monthly best of hacks to your inbox</h5>
  <a class="closeme" href="#">X</a>
  <form id="emailme_form" action="//forms.brace.io/ajinkyab1987@gmail.com" method="POST">
      <input type="text" name="name" placeholder="Name">
      <input type="email" name="_replyto" placeholder="Email" required>
      <input type="text" name="_gotcha" style="display:none" />
      <input type="hidden" name="_next" value="{{site.baseurl}}{{page.url}}" />
      <input type="hidden" name="_subject" value="New submission!" />
      <input type="submit" value="Send">
  </form>
  <p>We do not sell your email, we abide privacy.</p>
</aside>